
  .card {
    width: 50%;
    height: fit-content;
    padding: 20px;
    position: absolute;
    left:25%;
    top:5%;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .Add {
    background-color: #007bff;
    margin-bottom: 1%;
  }
  
  .Close {
    background-color: #dc3545;
  }
  
 table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

th {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.update, .delete {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.update {
  background-color: #17a2b8;
}
  
  .field_data {
    font-weight: bold;
  }
  
  
  
  @media (max-width:900px)
  {
    .card
    {
        left:15%;
    }
    form
    {
      width: 75%;
    }
    table
    {
        width: 75%;
    }
  }

  @media (max-width:768px)
  {
    .card
    {
      left:0;
      width: 75%;
    }
   
  }
